<div class="jumbotron" style="background-color:black">
    
    <button (click)="loadinggraph()" *ngIf="check">Load</button>
    <h3><font color:white font-family="Montserrat" *ngIf="!check">INVESTOR DISTRIBUTION FOR 2017-18</font></h3><br/>
    <div #changeinshare >
            
    </div>  
    </div>
























<!--<a class="list-group-item list-group-item-action">
    <div class="row">
        <div class="col-1" [innerHtml]="data.Filer_Name"> </div>
        <div class="col-1">
          <div class="row">
            <div class="col-6" [innerHtml]="data.City"> </div>
            <div class="col-6" [innerHtml]="data.State"> </div>
          </div>
        </div>
        <div class="col-1" [innerHtml]="data.Shares_Held"> </div>
        <div class="col-1" [innerHtml]="data.Market_Value"> </div>
        <div class="col-1" [innerHtml]="data.per_of_Portfolio"> </div>
        <div class="col-1" [innerHtml]="data.Prior_per_of_Portfolio"> </div>
        <div class="col-1">
            <div class="row">
              <div class="col-6" [innerHtml]="data.Ranking"> </div>
              <div class="col-6" [innerHtml]="data.Prior_Ranking"> </div>
            </div>
          </div>
        <div class="col-1" [innerHtml]="data.Change_in_shares"> </div>
        <div class="col-1" [innerHtml]="data.Filer_State"> </div>
        <div class="col-1" [innerHtml]="data.per_Ownership"> </div>
        <div class="col-1" [innerHtml]="data.source_date"> </div>
        <div class="col-1" [innerHtml]="data.filing_date"> </div>
        
    </div>
   </a>-->