 <div class="page-header section-dark" style="background-image: url('assets/img/investorbg.jpg')">
    <div class="filter"></div>
    <div class="content-center">
        <div class="container">
            <div><font color="white">
                    <br/>
                <h2 style="text-align:center">{{investDetails.name}}</h2><br/>
                <h6>{{investDetails.type}}</h6>
                <h6>{{investDetails.address}}</h6><br/>

                <ul >
                    <li><h6>CITY : {{investDetails.city}}</h6></li>
                    <li><h6>STATE : {{investDetails.state}}</h6></li>
                    <li><h6>NUMBER OF CLIENTS : {{investDetails.noClients}}</h6></li>
                    <li><h6>HOLDING CONCENTRATION : {{investDetails.holdingConc}} %</h6></li>
                </ul><br/>
            </font>
            </div><font color="white">
            <h5> 
                {{investDetails.description}}
            </h5>
            </font>
        </div>
    </div>       
</div>


<br/><br/><br/>
<div><strong><h3>HOLDINGS</h3></strong></div><br/><br/>

<br/><br/><br/>
<table class="table-responsive table-striped table-condensed table-bordered" width="100%">
<thead>
  <th>Stock</th>
  <th>Ticker</th>
  <th>Sector</th>
  <th>Shares Held</th>
  <th>Market Value </th>
  <th>% of Portfolio</th>
  <th>Change in Shares</th>
  <th>% Change in shares</th>
</thead>
<tbody>
  <tr *ngFor="let stock of stocks | paginate: {itemsPerPage: 5, currentPage:page, id: '1'}">
      <td>{{stock.Filer_Name}}</td>
      <td>{{stock.ticker}}</td>
      <td>{{stock.sector}}</td>
      <td>{{stock.principalAmount}}</td>
      <td>{{stock.marketValue }}</td>
      <td>{{stock.perPortfolio}} %</td>
      <td>{{stock.changeInShares}}</td>
      <td>{{stock.percentChange}} % </td>
  </tr>
  
  </tbody>
</table>
<pagination-controls (pageChange)="page = $event" id="1"
                      maxSize="5"
                      directionLinks="true"
                      autoHide="true">
                </pagination-controls>             
<br/><br/><br/><br/>

 <div class="row">
    <div class="col-md-12">
        <div class="tim-title bg-dark">
            <h3>Trends</h3>
        </div>

        <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
                <ngb-tabset [justify]="'center'">
                    <ngb-tab title="Sector Allocation">
                        <ng-template ngbTabContent>
                            <app-sectpie [investID]='investID'></app-sectpie>
                          </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Market Value">
                        <ng-template ngbTabContent>
                            
                                <app-markline [investID]='investID'></app-markline>
                              
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>
            </div>
        </div>

    </div>
</div>
