<div class="wrapper">
        <div class="page-header section-dark" style="background-image: url('assets/img/stocksbg.jpg')">
            <div class="filter"></div>
            <div class="content-center">
                <div class="container">
                    <div class="title-brand"><br/><br/><br/><br/>
                        <h2 class="presentation-title">STOCK ANALYSER</h2><br/><br/><br/><br/><br/><br/><br/><br/>
                    </div>
                    <h1 class="presentation-subtitle text-center"> Data and analysis to process historical shareholding information of companies to come up with analytics for individual investors.</h1>
                </div>
            </div>       
        </div>
        <div>
        <div class="main">
               
          <!-- <app-components></app-components>--><br/><br/><br/><br/><br/> 
            <div class="section section-dark section-nucleo-icons">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <h2 class="title">Compare top investor data using following parameters: </h2><br/>
                            <h3 class="description">
                                1. Sector wise      
                            </h3>
                            <h3 class="description">
                                2. Company wise      
                            </h3>
                            <h3 class="description">
                                3. Holding & Market Share      
                            </h3>
                            <h3 class="description">
                                4. Market Value     
                            </h3>
                            <br/>
                        </div>
    
                        <div class="col-lg-6 col-md-12">
                                <br/><br/><br/>
                            <div class="icons-container">
                                <i class="nc-icon nc-zoom-split"></i>
                                <i class="nc-icon nc-zoom-split"></i>
                                <i class="nc-icon nc-zoom-split"></i>
                                <i class="nc-icon nc-zoom-split"></i>
                                <i class="nc-icon nc-zoom-split"></i>                                                        
                                <i class="nc-icon nc-bulb-63"></i>
                                <i class="nc-icon nc-zoom-split"></i>
                                <i class="nc-icon nc-zoom-split"></i>
                                <i class="nc-icon nc-zoom-split"></i>
                                <i class="nc-icon nc-zoom-split"></i>
                                <i class="nc-icon nc-zoom-split"></i>  
                                <i class="nc-icon nc-zoom-split"></i>
                                <i class="nc-icon nc-zoom-split"></i>
                                <i class="nc-icon nc-zoom-split"></i>
                                <i class="nc-icon nc-zoom-split"></i> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>   
   <!-- <div>
            <button (click)="loadUser()">Load profile</button>
            <tr *ngFor="let p of prof">
                    <td>{{p.Filer_Name}}</td>
            </tr>
          </div>-->