<div class="page-header section-dark" style="background-image: url('assets/img/cons6.jpg')">
  <div class="filter"></div>
  <div class="content-center">
      <div class="row">
        <div class="col-5"></div>
        <div class="col-4">
          <h3><font color="white">
            These company stocks have been held by multiple investors and hence seem to be more reliable for our customers.
            </font>
          </h3>
          </div>
          <div class="col-3"></div>
        </div>
  </div>
</div>
<div class="container">
    <div><h3>Company List</h3></div><br/>
    <table class="table-responsive table-striped table-condensed table-bordered" width="100%">
    <thead>
      <th>Company Name</th>
      <th>Ticker</th>
      <th>Sector</th>
      <th># of owners</th>
      <th>Market Value</th>
      <th>Largest Holder</th>
    </thead>
    <tbody  >
        <tr  *ngFor="let cons of consensus">
         <td ><a (click)="loadCompany(cons.companyID)">111111111{{cons.companyName}}</a></td>
          <td>{{cons.ticker}}</td>
          <td>{{cons.sector}}</td>
          <td>{{cons.numFilers}}</td>
          <td>{{cons.sumMarketValue}}</td>
          <td>{{cons.largestHolder}}</td>
          </tr>
    </tbody>
    </table>
  </div>
  